<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="imageblur.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="imageblur.AccountSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <imageblur.Settings>
            <setting name="NumberOfTasks" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="PoolNodeCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PoolId" serializeAs="String">
                <value>ImageBlurPool</value>
            </setting>
            <setting name="DeleteJob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteContainer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JobId" serializeAs="String">
                <value>ImageBlurJob</value>
            </setting>
            <setting name="DeletePool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceImageNames" serializeAs="String">
                <value>sourceimages/sourceimage1.jpg,sourceimages/sourceimage2.jpg,sourceimages/sourceimage3.jpg,sourceimages/sourceimage4.jpg,sourceimages/sourceimage5.jpg,sourceimages/sourceimage6.jpg,sourceimages/sourceimage7.jpg,sourceimages/sourceimage8.jpg,sourceimages/sourceimage9.jpg</value>
            </setting>
        </imageblur.Settings>
        <imageblur.AccountSettings>
            <setting name="BatchServiceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchAccountKey" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageServiceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageAccountKey" serializeAs="String">
                <value />
            </setting>
        </imageblur.AccountSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>